<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title></title>
		<link rel="stylesheet" href="./leaflet.css" />
		<script src="./leaflet.js"></script>
		<style>
			html,
			body {
				margin: 0;
				padding: 0;
				width: 100%;
				height: 100%;
				overflow: hidden;
			}
			
			#my-offline-leaf-map {
				width: 100%;
				height: 100%;
			}
		</style>
	</head>

	<body>
		<div id="my-offline-leaf-map"></div>
		<script>
			var url = './newtask/{z}/{x}/{y}.jpg';
			var mymap = L.map('my-offline-leaf-map').setView([29.5, 110.5], 10);
			L.tileLayer(url, {
				minZoom: 2,
				maxZoom: 6,
			}).addTo(mymap);
		</script>
	</body>

</html>
<!--———————————————— 版权声明：本文为CSDN博主「netying」的原创文章，遵循CC 4.0 BY-SA版权协议，转载请附上原文出处链接及本声明。 原文链接：https://blog.csdn.net/netying/article/details/105187665-->