#nav a.router-link-exact-active {
		color: #42b983!important;
	}
/*默认主题*/
.theme1{
	height: 100%;
	color: #000!important;
	background-color: #fff!important;
}

.theme1 #app {
		color: #000!important;
		
	}
.theme1 #nav a {
		color: #2c3e50;
	}

.theme1 div{
	color: #000!important;
	background-color: #fff!important;
}


/*深色主题*/
.theme2{
	height: 100%;
	color: #fff!important;
	background-color: #000!important;
}
.theme2 #app {
		color: #fff!important;
		
	}
.theme2 #nav a {
	color: #a7a7a7;
}

.theme2 div{
	color: #fff!important;
	background-color: #000!important;
}
.theme2 .login{
	box-shadow: 0px 0px 10px #fff;
}